<h1 class="display-1 my-2">Edit page</h1>
<table class="table">
    <tr>
        <th scope="col">_id</th>
        <th scope="col">ubezpieczony</th>
        <th scope="col">benzyna</th>
        <th scope="col">uszkodozny</th>
        <th scope="col">napęd 4x4</th>
    </tr>
    {{#each docs}}
    {{#if this.is_edit_id}}
    <tr>
        <form method="post" id="edit_form">
        <td>{{this._id}}</td>
        <td><select name="ubez" id="ubez">
            <option {{#when this.ubezpieczony "eq" "TAK"}}selected{{/when}} value="TAK">Tak</option>
            <option {{#when this.ubezpieczony "eq" "NIE"}}selected{{/when}} value="NIE">Nie</option>
            <option {{#when this.ubezpieczony "eq" "BRAK"}}selected{{/when}} value="BRAK">Brak Danych</option>
        </select></td>
        <td><select name="benz" id="benz">
            <option {{#when this.benzyna "eq" "TAK"}}selected{{/when}} value="TAK">Tak</option>
            <option {{#when this.benzyna "eq" "NIE"}}selected{{/when}} value="NIE">Nie</option>
            <option {{#when this.benzyna "eq" "BRAK"}}selected{{/when}} value="BRAK">Brak Danych</option>
        </select></td>
        <td><select name="uszk" id="uszk">
            <option {{#when this.uszkodzony "eq" "TAK"}}selected{{/when}} value="TAK">Tak</option>
            <option {{#when this.uszkodzony "eq" "NIE"}}selected{{/when}} value="NIE">Nie</option>
            <option {{#when this.uszkodzony "eq" "BRAK"}}selected{{/when}} value="BRAK">Brak Danych</option>
        </select></td>
        <td><select name="nape" id="nape">
            <option {{#when this.naped "eq" "TAK"}}selected{{/when}} value="TAK">Tak</option>
            <option {{#when this.naped "eq" "NIE"}}selected{{/when}} value="NIE">Nie</option>
            <option {{#when this.naped "eq" "BRAK"}}selected{{/when}} value="BRAK">Brak Danych</option>
        </select></td>
        <td>
            <button id="cf" class="btn btn-success" formaction="/edit" name="_id" value="{{this._id}}">Update</button>
            <button id="cc" class="btn btn-danger" formaction="/edit">Cancel</button>
        </td>
    </form>
    </tr>
    {{else}}
    <tr>
        <form method="get">
        <td>{{this._id}}</td>
        <td>{{this.ubezpieczony}}</td>
        <td>{{this.benzyna}}</td>
        <td>{{this.uszkodzony}}</td>
        <td>{{this.naped}}</td>
        <td><button class="btn btn-secondary" formaction="/edit" name="_id" value="{{this._id}}">Edit</button></td>
    </form>
    </tr>
    {{/if}}
    {{/each}}
</table>

<script type="text/javascript">
    var init = 0;
    const btn_cancel = document.querySelector("#cc")
    btn_cancel.onclick = function(){init = 0}
    const btn_confirm = document.querySelector("#cf")
    btn_confirm.onclick = function(){init = 1}

    function logSubmit(event) {
        if(init === 1) {
            confirm("Sure?") ? form.submit() : null
        } else {
            form.submit()
        }
    }

    const form = document.querySelector("#edit_form");
    form.addEventListener('submit', logSubmit)
</script>